body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

p {
  font-size: 14px;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.header {
  background-image: url(../images/the-flatiron-building.png);
}

.header h1 {
  color: White;
  font-size: 70px;
  font-weight: bold;
}

.header a {
  color: White;
  font-size: 18px;
}

#process h2 {
  font-size: 32px;
  font-weight: bold;
}

.footer {
  background-color: Dimgray;
  text-align: left;
}

.footer span {
  color: White;
  font-size: 11px;
}

.footer a {
  color:White;
  font-size: 18px;
  text-decoration: underline;
}

#divbar {
  background-image: url(../images/the-flatiron-building.png);
  color: White;
  font-weight: bold;
}
